#mvMain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.divDt, .mvul {
  display: flex;
  flex-direction: column;
  
}

.divDt {
  background-color: aliceblue;
  height: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mvul {
  list-style: none;
  width: 80%;
}

.mvul > li {
  display: flex; 
  border: none;
  margin: 1px;
  font-size: 15px;
}

.mvul > li:hover {
  color: rgb(26, 241, 15);
}

.spRank {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  background-color: rgb(29, 197, 235);
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px;
  font-size: large;
}

.spMv {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  width: 80%;
}

.sp0 { color: red; font-size: large;}
.sp1 { color: blue; font-size: large;}
.sp2 { color: gray; font-size: large;}